html {
    scroll-behavior: smooth;
}

.header-top {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: baseline;
}

.header-bottom {
    width: 80%;
    height: 70vh;
    margin: 3% auto;
    display: flex;
    justify-content: space-around;
}

nav {
    width: 30%;
}

nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;

}

nav ul li a::after {

    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: blue;
    transition: width 0.3s ease-in-out;

}

nav li a:hover {
    color: blue;
}

nav ul li a:hover::after {
    width: 100%;
}

.banner-left, .banner-right {
    width: 20%;
    height: 100%;
}

.connect-button {
    cursor: pointer;
    font-size: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    text-align: center;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.connect-button:hover {
    color: white;
    background-color: blue;
}

.banner-text{
    font-size: 5rem;
    font-weight: bolder ;
}

#portfolio-photo {
    height: 100%;
    width: auto;
}
